<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.backend.mapper.BridgeMapper">
    <insert id="insertOne" parameterType="java.util.Map">
        insert into bridge_info (
            bridge_no, type_no, peri_rcd_no, card_no, init_rcd_no, route_no, bridge_name
        )
        values (
            #{bridge_no}, #{type_no}, #{peri_rcd_no}, #{card_no}, #{init_rcd_no}, #{route_no}, #{bridge_name}
        )
    </insert>
</mapper>