<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.backend.mapper.BridgeCetPartMapper">
    <select id="getAll" resultType="java.util.Map">
        select cet_part_no, cet_part_name, bridge_info.bridge_no, bridge_info.bridge_name,
            bridge_type.type_no, bridge_type.type_name, bridge_cpn.bri_cpn_no,
            bridge_cpn.bri_cpn_name, material, format
        from bridge_cet_part,bridge_info,bridge_type,bridge_cpn
        where bridge_cet_part.bridge_no = bridge_info.bridge_no
            and bridge_cet_part.type_no = bridge_type.type_no
            and bridge_cet_part.bri_cpn_no = bridge_cpn.bri_cpn_no
            and bridge_cet_part.bridge_no = #{bridge_no};
    </select>

    <select id="getCetPartCount" parameterType="java.util.Map" resultType="java.lang.Integer">
        select count(bridge_no) cetPartCount
        from bridge_cet_part
        where bridge_no = #{bridge_no}
    </select>

    <delete id="delete" parameterType="java.util.Map">
        delete from bridge_cet_part where cet_part_no=#{cet_part_no};
    </delete>

    <update id="update" parameterType="java.util.Map">
        update bridge_cet_part
        set cet_part_no = #{new_cet_part_no}, bridge_no = #{bridge_no},
        type_no = #{type_no}, bri_cpn_no = #{bri_cpn_no}, cet_part_name = #{cet_part_name},
        material = #{material}, format = #{format}
        where cet_part_no =#{old_cet_part_no}
    </update>

    <insert id="insert" parameterType="java.util.Map">
        insert into bridge_cet_part values(
        #{cet_part_no},
        #{bridge_no},
        #{type_no},
        #{bri_cpn_no},
        #{cet_part_name},
        #{material},
        #{format}
        )
    </insert>
</mapper>