<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.backend.mapper.PeriCardMapper">

    <select id="getInitCardInfo" resultType="java.util.Map">
        select bridge_pile, cro_name, bri_len, bri_cro_len
        from bridge_init_record
        where bridge_no=#{bridge_no}
    </select>

    <select id="getBuildTime" resultType="java.util.Map">
        select build_time
        from bridge_basic_cond
        where bridge_no=#{bridge_no}
    </select>
    <select id="getCetCpn" resultType="java.util.Map">
        select cet_part_no, cet_part_name, bridge_part.bri_part_name
        from bridge_cet_part, bridge_cpn, bridge_part
        where bridge_no = #{bridge_no} and
              bridge_cet_part.bri_cpn_no = bridge_cpn.bri_cpn_no and
              bridge_cpn.bri_part_no = bridge_part.bri_part_no
    </select>
</mapper>