<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.backend.mapper.RouteMapper">
    <select id="getAll" resultType="com.backend.pojo.Route">
        select * from route;
    </select>

    <select id="selectById" parameterType="java.util.Map" resultType="com.backend.pojo.Route">
        select * from route where route_no = #{route_no}
    </select>

    <select id="selectByBridgeNo" resultType="java.util.Map">
        select route.route_no, route_name, route_rank, bridge_name
        from route,bridge_info
        where
            bridge_no=#{bridge_no} and bridge_info.route_no=route.route_no
    </select>
    <select id="getRouteCount" resultType="java.util.Map">
        select count(route_no) as route_count from route;
    </select>

    <delete id="delete" parameterType="java.util.Map">
        delete from route where route_no=#{route_no};
    </delete>

    <update id="update" parameterType="java.util.Map">
        update route set route_no = #{new_route_no}, route_name = #{route_name},
                         route_rank = #{route_rank}
        where route_no=#{old_route_no}
    </update>

    <insert id="insert" parameterType="java.util.Map">
        insert into route values(
        #{route_no},
        #{route_name},
        #{route_rank}
        )
    </insert>
</mapper>