<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.backend.mapper.UnitMapper">
    <select id="getUnit" parameterType="java.lang.Integer" resultType="com.backend.pojo.Unit">
        select * from unit where unit_no=#{unit_no}
    </select>
</mapper>