<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.backend.mapper.UnitMapper">
    <select id="getUnit" parameterType="java.lang.Integer" resultType="com.backend.pojo.Unit">
        select * from unit where unit_no=#{unit_no}
    </select>

    <select id="getAll" resultType="com.backend.pojo.Unit">
        select * from unit
    </select>
    <select id="getCount" resultType="java.lang.Integer">
        select count(unit_no) from unit;
    </select>
    <select id="getBridgeNoByUnit" resultType="java.lang.String">
        select bridge_no from unit_job where unit_no=#{unit_no}
    </select>

    <insert id="insertOne" parameterType="java.util.Map">
        insert into unit(unit_no, unit_name) values(
            #{unit_no},
            #{unit_name}
        )
    </insert>

    <delete id="delete" parameterType="java.util.Map">
        delete from unit where unit_no=#{unit_no};
    </delete>

    <update id="update" parameterType="java.util.Map">
        update unit set
                        unit_no=#{new_unit_no},unit_name=#{unit_name}
        where unit_no=#{old_unit_no}
    </update>
</mapper>